.btn {
  @apply px-6 py-3 rounded text-sm font-bold whitespace-no-wrap items-center inline-flex border border-transparent;
}

.btn-circle {
  @apply justify-center items-center inline-flex;
}

.btn-circle-outline {
  @apply justify-center items-center inline-flex border border-transparent rounded-full;
}

.btn-circle-indigo {
  @apply border-indigo-600 text-indigo-600;

  &:hover,
  &:focus {
    @apply bg-indigo-600 text-indigo-100;
  }
}

.btn-indigo {
  @apply bg-indigo-400 text-indigo-100;

  &:hover,
  &:focus {
    @apply bg-indigo-500;
  }
}

.btn-gray {
  @apply bg-gray-800 text-gray-100;

  &:hover,
  &:focus {
    @apply bg-gray-700;
  }
}

.btn-green {
  @apply bg-green-600 text-green-100;

  &:hover,
  &:focus {
    @apply bg-green-500;
  }
}

.btn-teal {
  @apply bg-teal-600 text-teal-100;

  &:hover,
  &:focus {
    @apply bg-teal-500;
  }
}

.btn-with-icon > i,
.btn-with-icon > svg {
  @apply mr-1 text-sm;
}

.btn-outline {
  @apply bg-transparent border;
}

.btn-indigo-outline {
  @apply border-indigo-500 text-indigo-500;

  &:hover,
  &:focus {
    @apply bg-indigo-500 text-indigo-100;
  }
}

.btn-teal-outline {
  @apply border-teal-500 text-teal-500;

  &:hover,
  &:focus {
    @apply bg-teal-500 text-teal-100;
  }
}

.btn-blue-outline {
  @apply border-blue-500 text-blue-500;

  &:hover,
  &:focus {
    @apply bg-blue-500 text-blue-100;
  }
}

.btn-red-outline {
  @apply px-6 py-3 rounded bg-transparent border border-red-500 text-red-500 text-sm font-semibold whitespace-no-wrap;

  &:hover,
  &:focus {
    @apply bg-red-500 text-red-100;
  }
}

.btn-orange-outline {
  @apply px-6 py-3 rounded bg-transparent border border-orange-500 text-orange-500 text-sm font-semibold whitespace-no-wrap;

  &:hover,
  &:focus {
    @apply bg-orange-500 text-orange-100;
  }
}

.btn.btn-sm {
  @apply text-sm px-3 py-2 font-normal;
}


.btn-green {
  @apply px-6 py-3 rounded bg-green-600 border border-green-600 text-white text-sm font-bold whitespace-no-wrap;

  &:hover,
  &:focus {
    @apply bg-green-500;
  }
}

.btn-spinner,
.btn-spinner:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}

.btn-spinner {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: .2em solid white;
  border-right: .2em solid white;
  border-bottom: .2em solid white;
  border-left: .2em solid transparent;
  transform: translateZ(0);
  animation: spinning 1s infinite linear;
}

a {
  @apply text-green-600;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}
